{#
/**
* @file
* Theme override to display a block.
*
* Available variables:
* - plugin_id: The ID of the block implementation.
* - label: The configured label of the block if visible.
* - configuration: A list of the block's configuration values.
*   - label: The configured label for the block.
*   - label_display: The display settings for the label.
*   - provider: The module or other provider that provided this block plugin.
*   - Block plugin specific settings will also be stored here.
* - content: The content of this block.
* - attributes: array of HTML attributes populated by modules, intended to
*   be added to the main container tag of this template.
*   - id: A valid HTML ID and guaranteed unique.
* - title_attributes: Same as attributes, except applied to the main title
*   tag that appears in the template.
* - title_prefix: Additional output populated by modules, intended to be
*   displayed in front of the main title tag that appears in the template.
* - title_suffix: Additional output populated by modules, intended to be
*   displayed after the main title tag that appears in the template.
*
* @see template_preprocess_block()
*/
#}



{# Preprocess #}
{% set body = (content.body) %}
{% set alert_style = (content.field_alert_style.0) %}
{% set link = (content.field_link.0) %}
{% set link_url = (content.field_link.0['#url']) %}
{% set link_text = (content.field_link.0['#title']) %}

{# Set CSS Classes #}
{% set classes = [
  'clearfix',
  'block',
  'block-' ~ configuration.provider|clean_class,
  'block-' ~ plugin_id|clean_class,
] %}

{# Content #}

<div{{ attributes.addClass(classes|join(' ')) }}>
  {% block content %}
  <div id="mha-alert" class="jumbotron-fluid alert-{{ alert_style }}" role="alert">

    <div class="container">
      <button type="button" class="btn-alert-close float-right" data-dismiss="alert" aria-label="Close">
        <i class="fa fa-times" aria-hidden="true"></i>
      </button>
      <div class="row">
        {# Column One #}
        <div class="col-md-10 alert-wrapper">
          {% if label %}
            <h4 class=" alert-{{ alert_style }}">{{ label }}</h4>
          {% endif %}
          {% if body %}
            {{ body }}
          {% endif %}
          {% if link_url %}
            <a href="{{ link_url }}" tabindex="0" role='navigation' aria-labelledby="{{ link_title }}"
               class="{{ alert_style }}">{{ link_text }}</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  {% endblock %}

</div>{# /Content #}
