<footer id="footer" class="footer">
  <div class="footer-inner">

    {% if page.before_footer %}
      <div class="footer-top">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <div class="before-footer clearfix area">
                {{ page.before_footer }}
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endif %}

    <div class="footer-center">
      <div class="container">
        <div class="row">
          {% if page.footer_first %}
            <div
              class="footer-first col-lg-{{ footer_first_size }} col-md-{{ footer_first_size }} col-sm-12 col-xs-12 column">
              {{ page.footer_first }}
            </div>
          {% endif %}

          {% if page.footer_second %}
            <div
              class="footer-second col-lg-{{ footer_second_size }} col-md-{{ footer_second_size }} col-sm-12 col-xs-12 column">
              {{ page.footer_second }}
            </div>
          {% endif %}

          {% if page.footer_third %}
            <div
              class="footer-third col-lg-{{ footer_third_size }} col-md-{{ footer_third_size }} col-sm-12 col-xs-12 column">
              {{ page.footer_third }}
            </div>
          {% endif %}

          {% if page.footer_four %}
            <div
              class="footer-four col-lg-{{ footer_four_size }} col-md-{{ footer_four_size }} col-sm-12 col-xs-12 column">
              {{ page.footer_four }}
            </div>
          {% endif %}
        </div>
      </div>
    </div>


    {% if page.after_footer %}
      <div id="footer-after">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <div class="after-footer clearfix area">
                {{ page.after_footer }}
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endif %}

  </div>

  {% if page.copyright %}
    <div class="copyright">
      <div class="container">
        <div class="row">

          <div class="col-md-3 col-sm-12">
          </div>

          <div class="col-md-9 col-sm-12">{{ page.copyright }}

            <div class="pull-right better">
          </div>

        </div>

      </div>
    </div>
  {% endif %}

      <div id="footer-2" class="container-fluid wdg-web small_light_white mt-5">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-sm-12">
              <h4>
                {{ 'Mental Health America'|t }}
              </h4>
              <p>
                {{ '500 Montgomery Street,'|t }}
                <br>
                {{ 'Suite 820'|t }}
                <br>
                {{ 'Alexandria, VA. 22314'|t }}
                <br>
                <br>
                {{ 'Phone (703) 684.7722'|t }}
                <br>
                {{ 'Toll Free (800) 969.6642'|t }}
                <br>
                {{ 'Fax (703) 684.5968'|t }}
              </p>
              {% if page.contact_one %}
                <div>
                  {{ page.contact_one }}
                </div>
              {% endif %}
            </div>

            <div class="col-md-4 col-sm-12">
              <div class="col mha-logo-footer mt-4">
                <img style="margin-bottom:16px !important;" src="/sites/default/files/inline-images/mha-white-logo.png" data-entity-uuid="2bf28669-d1f7-4831-9bec-e755a796e27c" data-entity-type="file" alt="Mental Health America logo" width="70.77%">
              </div>


                <div class="col list-inline mt-3 ml-2 pb-3">
                  {% if page.social_media %}
                      {{ page.social_media }}
                    <a class="threads list-inline-item" href="https://www.instagram.com/p/CuZn_TIgwmr/" aria-label="Threads">
                      <img src="/themes/gavias_colin/images/threads.png" alt="Threads" width="25px" height="25px"></a>
                    </a>
                    <a class="list-inline-item mha-social" href="https://www.inspire.com/groups/mental-health-america/">
                    <img src="/themes/gavias_colin/images/Inspire_Icon_Reverse_RGB.png" alt="Inspire Icon" width="25px" height="25px">&nbsp</a>
                  {% endif %}
                </div>

              <div class="col footer-copyright mt-5">
                {{ '© Copyright'|t }} {{ "now"|date('Y') }} {{ 'Mental Health America, Inc.'|t }}
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>



<div id="donate-mobile" class="container d-block d-sm-none mha-black">
  <div class="row justify-content-center">
    <div class="col-12 text-center">
      {% if page.donate_footer %}
        {{ page.donate_footer }}
      {% endif %}
    </div>
  </div>
</div>

</footer>

    {# Social Media
    <div class="right-column">
      <div class="btn-group pt-2" role="group">

        <a href="https://www.facebook.com/mentalhealthamerica">
          <button type="button" class="btn btn-transparent">
            <i class="fa fa-facebook"></i>
          </button>
        </a>

        <a href="https://www.instagram.com/mentalhealthamerica/?hl=en">
          <button type="button" class="btn btn-transparent">
            <i class="fa fa-instagram"></i>
          </button>
        </a>

      </div>
    </div>
    #}


