{# Alert #}
{% if page.alert %}
  {% block alert %}
    {{ page.alert }}
  {% endblock %}
{% endif %}
<header id="header" class="header-default border-bottom border-light shadow-sm">
  {% if page.topbar or page.topbar_left %}
    <div class="topbar d-none d-md-block">
      <div class="topbar-inner">
        <div class="container">
          <div class="row">
            <div class="col-md-4 col-sm-12 clearfix">
              {{ page.topbar_left }}
            </div>
            <div class="col-md-8 col-sm-12 clearfix">
              {{ page.topbar }}
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
  <div class="header-main">
    <div class="container">
      <div class="header-inner clearfix">
        <div class="row">
          <div class="col-md-3 col-sm-4 col-xs-4 branding">
            {% if page.branding %}
              {{ page.branding }}
            {% endif %}
          </div>

          <div class="col-md-8 col-sm-7 col-xs-7 right-header d-none d-lg-block ">
            {% if page.header_right %}
              {{ page.header_right }}
            {% endif %}
          </div>

          <div class="col-md-1 col-sm-1 col-xs-1 right-header mha-search-region-btn">
            <button class="fa fa-search" id="focusButton2" type="button" data-toggle="collapse" data-target="#collapseMHA" aria-expanded="false" aria-controls="collapseMHA">
            </button>
            <button class="fa fa-close" id="closeButton2" type="button" data-toggle="collapse" data-target="#collapseMHA" aria-expanded="false" aria-controls="collapseMHA">
            </button>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="main-menu">
    <div class="container header-content-layout gv-sticky-menu">
      <div class="header-main-inner p-relative ">
        <div class="row">
          <div class="col">
            <div class="area-main-menu">
              <div class="area-inner">
                <div class="gva-offcanvas-mobile">
                  <div class="close-offcanvas hidden"><i class="fa fa-times"></i></div>
                  {% if page.main_menu %}
                    {{ page.main_menu }}
                  {% endif %}
                  {% if page.offcanvas %}
                    <div class="after-offcanvas hidden">
                      {{ page.offcanvas }}
                    </div>
                  {% endif %}
                  <div class="d-lg-none">
                    {% if page.header_right %}
                      {{ page.header_right }}
                    {% endif %}
                  </div>
                  <div class="sub-menu-2 d-lg-none">
                    {% if page.topbar_left %}
                      {{ page.topbar_left }}
                    {% endif %}
                    {% if page.topbar %}
                      {{ page.topbar }}
                    {% endif %}
                  </div>
                </div>
                <div id="menu-bar" class="menu-bar hidden-lg hidden-md">
                  <span class="one"></span>
                  <span class="two"></span>
                  <span class="three"></span>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-12 mt-4 pt-4">
            <div id="edit-keys2" class="mha-search-region" style="display:none;">
              <form action="/search/content" method="get" accept-charset="UTF-8">

                <div class="col-md-11 col-sm-11 js-form-item form-item js-form-type-search-api-autocomplete form-item-keys js-form-item-keys">
                  <input id="edit-keys3" data-drupal-selector="edit-keys" data-search-api-autocomplete-search="search_content" class="form-autocomplete form-text ui-autocomplete-input" data-autocomplete-path="/search_api_autocomplete/search_content?display=page_1&amp;&amp;filter=keys" type="text"  name="keys" value="" size="30" maxlength="128" data-once="autocomplete search-api-autocomplete" autocomplete="off">
                </div>

                <div data-drupal-selector="edit-actions" class="col-md-1 col-sm-1 form-actions js-form-wrapper form-wrapper mha-search-region-submit" id="edit-actions">
                  <input data-drupal-selector="edit-submit-search-content" type="submit" id="edit-submit-search-content" value="Search" class="button js-form-submit form-submit">
                </div>

              </form>
              </div>
          </div>
          <div class="col">
            {% if page.quick_side %}
              <div class="quick-side-icon hidden-xs hidden-sm">
                <div class="icon"><a href="#"><span class="qicon fa fa-bars"></span></a></div>
              </div>
            {% endif %}
          </div>
        </div>{# /row #}
      </div>
    </div>
  </div>
</header>

